
<div class="">
    <mat-toolbar color="primary" class="fixed top-0 z-50 w-full shadow-md px-5 py-2 flex justify-between items-center">
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
      <button mat-icon-button routerLink="/" >
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </button>
      <span class="ml">Book Store</span>
      <span class="spacer"></span>
      <div class="example-button-row">
        <button mat-button routerLink="book">All Books</button>
      </div>
      <span class="spacer"></span>
      <div class="example-button-row" >
        <button mat-button class="size" routerLink="auth/login">Login</button>
        <button mat-raised-button class="size" routerLink="auth/signup">Signup</button>
      </div>
      <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button> -->
    </mat-toolbar>
</div>