<div class="mx-[12px] mb-[12px]">
    <p>add-book-reactive works!</p>
    <button (click)="updateFormValue()" class="border-2 px-[9px] rounded-md hover:bg-gray-600 hover:text-white">Default Value</button>
        <!-- {{this.addBookForm.get('title').valid}} -->
        <!-- {{this.addBookForm.get('title').errors | json}} -->
        <div class="flex flex-col justify-center flex-wrap mx-auto content-center w-[60%]">
            <h2 class="text-center">Add new book</h2>
            {{addBookForm.value | json}}
            <form class="text-center w-[90%] flex flex-wrap flex-col" (ngSubmit)="saveBook(addBookForm.value)" [formGroup]="addBookForm">
                <mat-radio-group aria-label="Select an option" formControlName="formatType" class="flex">
                    <mat-radio-button value="pdf">PDF</mat-radio-button>
                    <mat-radio-button value="doc">DOC</mat-radio-button>
                  </mat-radio-group>
                <mat-form-field appearance="fill">
                    <mat-label>Doc Format</mat-label>
                    <input matInput placeholder="" name="docFormat" formControlName="docFormat">
                    <mat-icon matSuffix><span class="material-symbols-outlined">title</span></mat-icon>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Pdf Format</mat-label>
                    <input matInput placeholder="" name="pdfFormat" formControlName="pdfFormat">
                    <mat-icon matSuffix><span class="material-symbols-outlined">title</span></mat-icon>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Title of the book</mat-label>
                    <input matInput placeholder="" name="title" formControlName="title">
                    <mat-icon matSuffix><span class="material-symbols-outlined">title</span></mat-icon>
                    <mat-hint class="text-red-500"> {{titleErrorMessage}} </mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Author name</mat-label>
                    <input matInput placeholder="" name="author" formControlName="author">
                    <mat-icon matSuffix><span class="material-symbols-outlined">person</span></mat-icon>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Total pages</mat-label>
                    <input matInput placeholder="" type="number" name="pages" formControlName="totalPages">
                    <mat-icon matSuffix><span class="material-symbols-outlined">auto_stories</span></mat-icon>
                </mat-form-field>
                <div class="grid grid-flow-col grid-cols-4 gap-1" formGroupName="price">
                    <mat-form-field floatLabel="always" class="col-span-3" >
                        <mat-label>Price</mat-label>
                        <input matInput type="number" name="price" required class="example-right-align" placeholder="0" formControlName="value">
                      </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Currency</mat-label>
                        <mat-select name="currency" placeholder="Currency" formControlName="currency">
                            <mat-option *ngFor="let currency of curriencies" [value]="currency.value">{{currency.viewValue}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <button type="submit" [disabled]="addBookForm.invalid" mat-raised-button color="primary">Save</button>
            </form>
    <!-- <h2>{{myForm.value | json}}</h2> -->

    </div>
</div>
    
    